*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#c4bfb6;
}

.header{
    width: 100%;
    background-color:gray;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 20px;  
    position: fixed;
    z-index: 1;
    top: 0;
    background: linear-gradient(to bottom, gray, #050c18);
    
   

    
}

.header__logo{
    border-radius: 50px;

}

.header__tittle{
   color: aliceblue;
   font-size: 30px;
   
}

.header__nametittle{
    color: white;
    font-size: 35px;
}

.header__navbar{
    display: flex;
    
   
}

.header__conteiner-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    

    
}

.header__list a{
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

.header__list a:hover{
    color: black;
    text-decoration: underline;
}

#menu-toggel, .menu__label{
    display: none;
}


/* estilos a la seccion de la portada  */
#section__hero{

 display: flex;
 flex-direction: row;
 gap: 100px;
 text-align: center;
 align-items: center;
 margin-top: 100px;
 padding: 90px;



 

   
   
   
 
}

.hero__texto{
    font-size: 20px;
    margin-left: 50px;
   
   
  
    
}

.hero__tittle{
    font-size: 60px;
    color:darkblue;
    
    

}

.hero__Name{
    color: black;
}

.hero__img{
    margin-right: 80px;
}

#sobre__nosotros{
    margin-top: 100px;
    font-size: 20px;
    padding: 50px;
    padding: 100px;
    margin-bottom: 100px;


}
.nosotros__tittle{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#section__curriculum{
    display: flex;
    gap: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
   
    
    
}

.curriculum__tittle{
    font-size: 30px;
    display: flex;
  
  
}

.curriculum__conteiner{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
}

.curriculum__img{
   
    border-radius: 50px;
}

.img__enzo{
    height: 250px;
    width: 400px;
    border-radius: 50px;
    
}

.curriculum__name{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.curriculum__name2{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 30px;
    
}

#section__jurisprudencia{
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 100px;
}

.jurisprudencia__tittle{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#section__contacto{
    display: flex;
    gap: 20px;
    font-size: 18px;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 80px;
    
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}
.contacto ul {
    list-style: none;
}

.contacto__titulo{
    font-size: 30px;
    color: blue;
}

.contacto__horario{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horario__titulo{
    font-size: 30px;
    color: blue;

} 
.footer{
    display: flex;
    background-color: gray;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__tittle{
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer__icon{
    display: flex;
    flex-direction: row;


}
